<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Patient Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
    {% extends 'patient_base.html' %}
    {% block content %} 
        <a class="cta-circle" href="{{ url_for('patient_home.patient_plan_page') }}" aria-label="View Plan">
            <img class="circle-icon" src="{{ url_for('static', filename='public/Eye.png') }}" alt="View Plan">
        </a>

        <ul class="dotted-progress" aria-hidden="true">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <a class="cta-circle cta-circle--secondary" href="{{ url_for('patient_home.patient_food_page') }}" aria-label="Add Record">
            <img class="circle-icon" src="{{ url_for('static', filename='public/Plus.png') }}" alt="Add Record">
        </a>
    </main>

    {% endblock %}
</body>
</html>
